:root {
    --theme-color: #6A98F0;
    --bg-color: #12131a;
    --bg-color-dark: #1E202C;
    --text-color: #C2C7E5;
    --text-color-white: #FFFFFF;
    --text-color-dark: #8891aa;
    --text-color-darker: #73798b;
}

@font-face {
    font-family: "calibre";
    src: url('/resources/vendors/fonts/Calibre-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'calibre';
    font-size: 10px;
    overflow-x: hidden;
    height: auto;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--bg-color);
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.5rem;
    margin: 5rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--bg-color-dark);
    padding: 2rem;
}

html::-webkit-scrollbar-thumb {
    margin: 0.5rem !important;
    background-color: var(--text-color-dark);
}


body {
    font-size: 10px;
    position: relative;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
    background: url(../images/bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 75vw top -10vh;
}

main {
    min-height: 100vh;
    width: 100vw;
    transition: filter 0.5s;
}

main.inactive {
    filter: blur(4px);
}


/* HEADER */
header {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3%; 
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:var(--bg-color);
    transition: box-shadow 1s;
}

header.active {
    box-shadow: 0px 10px 25px -15px #000000;
}

header > a {
    font-size: 2rem;
    font-weight: bold;
    color: var(--theme-color);
    text-decoration: none;
    border: 2px solid var(--theme-color);
    height: 40px;
    width: 40px;
    padding-top: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header > nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header > nav > * {
    margin-left: 25px;
}

header > nav > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.6rem;
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 500;
    transition: color 0.4s, background 0.4s;
}

header > nav > a:not(.download-resume):hover {
    color: var(--theme-color);;
}

header > nav > a.download-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px 7px 15px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;
}

header > nav > a.download-resume:hover {
    background: var(--theme-color);
    color: var(--text-color-white);
}

header > nav > a > span {
    margin-right: 7px;
    color: var(--theme-color);
}

header > span {
    font-size: 2.9rem;
    color: var(--theme-color);
    display: none;
}

@media only screen and (max-width: 720px) {
    header> nav {
        display: none;
    }
    header > span {
        display: inline-block;
    }
}



/* SOCIALS */
#socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 3%;
    bottom: 100px;
    z-index: 8;
}

#socials:before {
    height: 80px;
    width: 1px;
    background: var(--text-color-dark);
    content: "";
    position: absolute;
    bottom: -100px;
    left: calc(50% - 1px);
}

#socials a {
    text-decoration: none;
    color: var(--text-color-dark);
    margin-top: 15px;
    transition: color 0.6s, transform 1s;
    cursor: pointer;
}

#socials a i {
    font-size: 20px;
    color: inherit;
    transition: transform 0.6s;
}

#socials a:hover {
    color: var(--text-color);
    transform: scale(1.3);
}

@media only screen and (max-width: 720px) {
    #socials {
        display: none;
    }
}


/* SECTION TITLE */
.section-title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin: 15px 0;
    background: transparent;
    position: relative;
}

.section-title::before {
    content: "";
    height: 0.5px;
    width: 100%;
    max-width: 300px;
    top: 40%;
    position: absolute;
    z-index: 1;
    background: var(--text-color-dark);
}

.section-title strong {
    width: max-content;
    font-size: 3rem;
    font-weight: bold;
    z-index: 2;
    text-transform: capitalize;
    color: var(--text-color);
    background: var(--bg-color);
    padding: 0px 10px 0px 0px;
}

.section-title-center {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    background: transparent;
}

.section-title-center strong {
    font-size: 3.5rem;
    font-weight: bold;
    z-index: 2;
    text-transform: capitalize;
    color: var(--text-color);
    background: var(--bg-color);
    padding: 0px 10px 0px 0px;
}


/* SIDEBAR */

#sidebar {
    width: 300px;
    max-width: 90%;
    height: 100vh;
    padding: 50px 0px;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(300px);
    background: var(--bg-color-dark);
    z-index: 15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}

#sidebar.active {
    transform: translateX(0px);
}

#sidebar span.close {
    font-size: 2rem;
    color: var(--theme-color);
    position: absolute;
    top: 0;
    min-height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background: transparent;
}
#sidebar span.close i {
    font-size: 40px;
    height: 40px;
    width: 40px;
    background: var(--bg-color-dark);
}

#sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    font-size: 1.7rem;
    font-weight: 500;
    text-decoration: none;
    color: var(--text-color);
    transition: all 0.4s;
}

#sidebar a:hover {
    color: var(--theme-color);
}

#sidebar a span {
    color: var(--theme-color);
    margin-bottom: 5px;
}

#sidebar a.download-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 15px 7px 15px;
    border: 2px solid var(--theme-color);
    color: var(--theme-color);
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 600;

}
    
#sidebar a.download-resume:hover {
    background: var(--theme-color);
    color: var(--text-color);
}

#mask {
    transition: all 0.5s;
    z-index: 11;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    visibility: hidden;
    transition: visibility 0.5s, background 0.5s;
}

#mask.active {
    visibility: visible;
} 



/* INTRO */
#intro {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0px 10%;
}

#intro #intro-wrapper {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#intro #intro-wrapper small {
    font-size: 2rem;
    line-height: 2rem;
    color: var(--theme-color);
    display: block;
    margin-bottom: 20px;
}

#intro #intro-wrapper h2{
    font-size: 7.5rem;
    line-height: 7.5rem;
    color: var(--text-color);
    margin-bottom: 20px;
}

#intro #intro-wrapper h3{
    font-size: 7.5rem;
    line-height: 7.5rem;
    margin-bottom: 20px;
    color: var(--text-color-dark);
}

#intro #intro-wrapper p{
    width: 100%;
    max-width: 500px;
    font-size: 2.1rem;
    line-height: 3rem;
    margin-bottom: 20px;
    color: var(--text-color-dark);
}

#intro #intro-wrapper a {
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--theme-color);
    padding: 5px 30px 0px 30px;
    width: max-content;
    height: 50px;
    display: flex;
    border-radius: 4px;
    color: var(--theme-color);
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 35px;
    transition: background 0.5s;
}

#intro #intro-wrapper a:hover {
    background: #6A98F022;
}

@media only screen and (max-width: 1000px) {
    #intro #intro-wrapper h2,   
    #intro #intro-wrapper h3 {
        font-size: 6rem;
        line-height: 6rem;
        
    }   
}

@media only screen and (max-width: 800px) {
    #intro #intro-wrapper h2,   
    #intro #intro-wrapper h3 {
        font-size: 5rem;
        line-height: 5rem;
    }   
}

@media only screen and (max-width: 680px) {
    #intro #intro-wrapper h2,   
    #intro #intro-wrapper h3 {
        font-size: 4rem;
        line-height: 4rem;
    }   
}





/* LANDING */
#landing {
    height: auto;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 150px 10%;
}

#landing #about{
    width: 100%;
    max-width: 840px;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr minmax(150px, 200px);
    grid-gap: 30px;
}

#landing #about #about-me {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#landing #about #text p {
    font-weight: 400;
    margin: 15px 0px;
    position: relative;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--text-color-dark);
}

#landing #about #text p a{
    text-decoration: none;
    color: var(--theme-color);
    font-weight: bold;
}


#landing #about #skills {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
}

#landing #about #skills ul {
    display: none;
    width: auto;
    list-style: none;
    border-left: 1px dashed var(--text-color);
    font-size: 1.5rem;
    font-weight: 400;
    position: relative;
    margin-left: 10px;
}

#landing #about #skills ul:nth-child(8),
#landing #about #skills ul:nth-child(4) {
    display: block;
}

#landing #about #skills #skills-wrapper p {
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--text-color-dark);
    transition: color 0.5s;
}

#landing #about #skills #skills-wrapper p:hover {
    color: var(--text-color)
}

#landing #about #skills #skills-wrapper p i {
    color: var(--theme-color);
    font-size: 2rem;
    margin-right: 10px;
    margin-top: -10px;
}

#landing #about #skills #skills-wrapper ul li {
    margin-left: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.6rem;
    color: var(--text-color-dark);
}

#landing #about #skills #skills-wrapper ul li i {
    margin-right: 5px;
}

@media only screen and (max-width: 760px) {
    #landing #about{
        grid-template-columns: 1fr;
    }    
}





/* PORTFOLIO */
#portfolio {
    width: 100%;
    height: auto;
    padding: 200px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px 10%;
}

#portfolio #portfolio-wrapper {
    width: 100%;
    max-width: 1024px;
}

#portfolio #portfolio-wrapper #portfolio-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-gap: 15px;
}

#portfolio .project {
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    min-height: 250px;
    overflow: hidden;
    background-color: var(--bg-color-dark);
    position: relative;
    padding: 25px;
    border: 1px solid transparent;
    transition: border 1s;
}

#portfolio .project:hover {
    border: 1px solid var(--theme-color);
    cursor: default;
}

#portfolio .project .project-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#portfolio .project .project-heading span:first-child  a {
    font-size: 30px;
    text-decoration: none;
    color: var(--theme-color);
}

#portfolio .project .project-heading span:last-child  a {
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color-dark);
    margin-right: 8px;
    transition: color 0.5s, transform 0.5s;
}

#portfolio .project .project-heading span:last-child  a:hover {
    transform: scale(1.1);
    color: var(--text-color);
}

#portfolio .project h3{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 25px 0 0 0;
}

#portfolio .project h3.protected{
    filter: blur(2px);
}

#portfolio .project p{
    font-size: 1.6rem;
    margin: 15px 0px 20px 0px;
    font-weight: 400;
    color: var(--text-color-dark);
}

#portfolio .project ul{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    list-style: none;
    flex-wrap: wrap;
    grid-gap: 5px;
    margin-top: auto;
}

#portfolio .project ul li{
    font-size: 1.5rem;
    color: var(--text-color-darker);
    font-weight: 100;
}






/* CONTACT  */
#contact-board {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    background: url('/resources/images/geo_pattern.svg');
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: var(--bg-color); */

}

#contact-board #contact-wrapper {
    width: 100%;
    max-width: 1024px;
    padding: 100px 10% 180px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}


#contact-board div.text {
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    align-items: center;
    background: transparent;
}

#contact-board div.text p{
    margin: 10px;
    font-size: 1.8rem;
    color: var(--text-color-dark);
    text-align: center;
    white-space: wrap;
}

#contact-board #mail {
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--theme-color);
    padding: 5px 30px 0px 30px;
    width: max-content;
    height: 50px;
    display: flex;
    border-radius: 4px;
    color: var(--theme-color);
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    margin-top: 10px;
    transition: background 0.5s;
}

#contact-board #mail:hover {
    background: #6A98F022;
}



/* FOOTER  */
footer {
    width: 100vw;
    height: 20vh;
    background-color: var(--bg-color-dark);
    display: flex;
    justify-content:center;
    align-items: center;
}

footer p{
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
}